html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
	margin: 0;
}

body {
	display: grid;
	height: 100vh;
	margin: 0;
	place-items: center center;
}

button {
	all: unset;
}
